---


import Layout from '../../layouts/Layout.astro';
import AboutSection from '../../components/About/AboutContainer'
import BackgroundVideo from '../../components/UI/bgVideo';
import ReleaseTrabalhe from '../../components/trabalhe-no-japao/ReleaseTrabalhe';
import ServicesContainer from '../../components/trabalhe-no-japao/Services';
import TrabalheForm from '../../components/trabalhe-no-japao/TrabalheForm'
import WorkCarousel from '../../components/Cursos/WorkshopsContainer';

---

<Layout title="Trabalhe no Japão">
  <div class="w-full justify-center items-center overflow-x-hidden">
    <div  class="relative w-full flex justify-center items-center bg-black">
     <BackgroundVideo desktopSrc="/videos/desktop.mp4"  mobileSrc="/videos/unimaq-01.mp4" client:load/>

    </div>

	

  </div>
  

</Layout>