---


import Layout from '../../layouts/Layout.astro';

import BackgroundImage from '../../components/UI/bgImageAbout';
import FormContainer from '../../components/Contato/FormContact'
---

<Layout title="Sobre Mim">
  <div class="w-full justify-center items-center overflow-x-hidden">
   

		<!-- Content -->
     <FormContainer client:load/>
		
  </div>
  
  
  
</Layout>