---
import Layout from '../layouts/Layout.astro';
import TeamCarousel from '../components/Equipe/TeamCarousel';
---

<Layout title="Equipe - Instituto de Psicologia Ser e Sentido">
	<section class="bg-gradient-to-b from-[#faf8f5] to-white ">
		<TeamCarousel client:load />
	</section>
</Layout>
